<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer
                 class="sidenav"
                 [(opened)]="isOpen"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 fixedInViewport="false">
        <app-sidenav-content></app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="div-sidenav-content">
            <app-map-search-bar></app-map-search-bar>
            <app-map></app-map>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
